<section id="banner">
    <h2>Halo infinite</h2>
    <p>
        <a href="#" class="green-button">Get it Now  <span class="material-icons">&#xe5cc;</span></a>
    </p>
    <p>
        available not with Xbox Game Pass
    </p>
    <p>
        <a href="#" class="green-link">Join Now<span class="material-icons">&#xe5cc;</a>
    </p>
</section>

<section id="videos">
    <h2>Become</h2>
    <p class="w-75">
        the legendary Halo series return with the most expansive Master chief 
        campaign yet and a ground-breaking free to play multiplayer 
        experience 
    </p>
    <h3>Trailers and gameplays </h3>
    <div class="slider">
        <div class="controls">
            <button id="prev">
                <span class="material-icons">&#xe5e0;</span>
            </button>
            <button id="next">
                <span class="material-icons">&#xe5e1;</span>
            </button>
        </div>
        <div id="current">

        </div>
        <div class="videos-container">
            
        </div>
     
       
    </div>
</section>
<section id="muli-player">
    <div class="info">
        <h2>LENGENDARY MULTIPLAYER FREED</h2>
        <p>
            the next era of Halo begins! To celebrathe the 20th Anniversary of the franchise,
            Halo infinite multiplayer beta is available now and free to play on Xbox and pc.
            Bgein your personal Sprtan Journey today with season 1, "Heroes of Reach", and stay tuned 
            for upcoming, limited-time ing-game events and exclusive rewards.
        </p>
    </div>
</section>
<section id="get-the-game">
    <h2>Get the game</h2>
    <div class="item-store">
        <div class="left">
            <img src="/img/game.png" alt="">
        </div>
        <div class="rigth">
            <div class="info-product">
                <h3>Halo infinite (Camapign)</h3>
                <h4>Included with Xbox Game Pass Play Halo</h4>
                <p>
                    Infinite and over 100 more ligh-quality games for one low
                    montly price with Xbox Game Pass
                </p>
                <button class="green-button">
                        JOIN XBOX GAME PASS
                    <span class="material-icons">&#xe5e1;</span>
                </button>
                <h4>Buy Halo Infinite </h4>
                <p>
                    $59.99 USD
                </p>
                <select name="" id="">
                    <option value="Xbox">xbox</option>
                    <option value="Windows">Windows 10 pc</option>
                    <option value="steam">steam</option>
                </select>

                <p>
                    <button class="green-button">
                        BUY NOW
                        <span class="material-icons">&#xe5e1;</span>
                    </button>
                </p>
            </div>
        </div>
    </div>
</section>
<footer>
    
</footer>