<section id="banner">
    <h2>Halo infinite</h2>
    <p>
        <a href="#" class="green-button">Get it Now  <span class="material-icons">&#xe5cc;</span></a>
    </p>
    <p>
        available not with Xbox Game Pass
    </p>
    <p>
        <a href="#" class="green-link">Join Now<span class="material-icons">&#xe5cc;</a>
    </p>
</section>

<section id="videos">
    <h2>Become</h2>
    <p class="w-75">
        the legendary Halo series return with the most expansive Master chief 
        campaign yet and a ground-breaking free to play multiplayer 
        experience 
    </p>
    <h3>Trailers and gameplays </h3>
    <div class="slider">
        <div class="controls">
            <button id="prev">
                <span class="material-icons">&#xe5e0;</span>
            </button>
            <button id="next">
                <span class="material-icons">&#xe5e1;</span>
            </button>
        </div>
        <div id="current">

        </div>
        <div class="videos-container">
            
        </div>
     
       
    </div>
</section>