<header>
  <nav class="navbar">
    <div class="navbar-mobile">
        <div class="header-mobile">
            <button  id="btn-mobile">
                <span class="material-icons">&#xe5d2;</span>
              </button>
        </div>
      <ul class="nav mobile-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/">Features</a></li>
      </ul>
    </div>
    <div class="container-nav">
      <ul class="nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/">Features</a></li>
      </ul>
    </div>
    <div class="container-actions">
      <input type="text" placeholder="Search ..." />
      <input type="button" value="Login" class="btn btn-primary" />
      <input type="button" value="Sign-up" class="btn btn-secondary" />
    </div>
  </nav>
</header>
